
/* iOS デフォルトスタイルのリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

.define-text1 br{
    margin-bottom: 10px;
}
html, body {
    background-color: #fff;
    color: #3c4447;
    font: 15px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-weight: 200;
    height: 100vh;
    /* viewpointに対して100%の意味 */
}
h3{
    font-weight: 200;
}
b{font-weight: bold;}
hr{margin: 20px 0;}

.wrapper{
    margin: 0 auto;
    width: 90%;
    display: flex;
}

.header{
    margin: 0 0 10 0px;
    height: 100px;
    padding: 20px;
}

.sidebar{
    margin:20px;
    background-color: #ffffff;
    border: 2px solid #707aff;
    border-radius: 10px;
    width: 250px;
    min-height:500px;
    float: right;
    padding: 10px;
}

.content{
    text-align: center;
    width:690px;
    /* min-height:500px; */
    background-color: #ffffff;
    border: 5px solid  #707aff;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.footer{
    height: 80px;
    text-align: center;
    padding: 10px;
} 

/* ページ送り */
.flex {
    text-align: center;
}
.flex li{
    display: inline-block;
}
.w-5{
    height: 20px;
}

/*投稿の配置*/
.recipe-img img{
    width : 100%;
}
.item{
    display: block; 
    width: 29.3%;
    background-color: aquamarine;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

/*カードのレイアウト*/
.container{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}
.card {
    width: 29.3%;
    min-height:300px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    background-color: aquamarine;
    margin: 1%;
    padding: 1%;
    text-align: center;
  }
  .card-img img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
  }
  .card-content {
    padding: 20px;
  }
  .card-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  .card-text {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .side{
    width: 29.3%;
    float: right;
  }

  .side_bar {
    min-height:500px;
    background-color:#777;
    text-align:center;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin: 1%;
    padding: 1%;
  } 

  .new_button{
    min-height:150px;
    margin-bottom: 10px;
 }